
h1 {
    text-decoration: underline;
    font-size: 40px;
    font-style: normal;
    line-height: 120px;
}

.one {
position: fixed;
top: 50px;
left: 50px;
border: 2px solid red;
width: 200px;
height: 200px;
}

/* .two {
right: 30px;
bottom: 30px;
position: absolute;
width: 200px;
height: 200px;
border: 2px solid black;
} */