body {
    margin: 0;
    padding: 0;
    background-color: aqua; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding: 40px;
}

.box {
    text-align: center;
    padding: 20px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
}

.box img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}


