body {
    margin: 0;
    padding: 0;

}

.upper {
    display: flex;
    margin: auto;
    background-color: rgb(237, 236, 236);
    justify-content: space-between;
    align-items: center;
    width: 920px;
    height: 70px;
}

.menu-item {
    display: flex;
    gap: 10px;
}

.menu_2 {
    width: 400px;
    height: 470px;
    margin-top: 60px;
    margin-left: 70px;
    position: fixed;
}

.pastki {
    width: 200px;
    height: 200px;
    margin-left: 500px;
}